html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

a {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.prose img {
  border-radius: 20px;
}
