---
import Layout from '../layouts/index.astro'
---

<Layout title="Alejandro Asensio">
  <main class="w-full max-w-[63ch] mx-auto">
    <p class="text-subtext1">Hey, Alejandro here, from Barcelona.</p>
    <h1 class="text-4xl leading-none font-semibold">
      I'm a front-end web developer who cares about visual consistency and
      <span
        class="bg-gradient-to-r from-red to-blue bg-clip-text text-transparent font-bold"
        >user experience</span
      >.
    </h1>
    <p class="text-subtext1">
      Currently, I'm building the front-end of the new Platform for hospitality
      businesses at
      <a href="https://www.trustyou.com/" class="hover:text-teal">TrustYou</a>.
    </p>
    <p class="text-subtext1">
      To grab an idea of my previous work, check out my <a
        href="https://www.linkedin.com/in/aasensios/"
        class="hover:text-teal">LinkedIn</a
      > and my <a href="https://github.com/aasensios" class="hover:text-teal"
        >GitHub</a
      >.
    </p>
  </main>
</Layout>
