<footer class="w-full max-w-[63ch] mx-auto border-t border-t-subtext1">
  <p class="text-sm">
    This site is build using <a href="https://astro.build/">Astro</a> and <a
      href="https://catppuccin.com/">Catppuccin</a
    >.
  </p>
  <p class="text-sm">
    © {new Date().getFullYear()} Alejandro Asensio
  </p>
</footer>
