<footer
  class="mt-6 border-t border-neutral-200 dark:border-neutral-800 text-sm text-neutral-700 dark:text-neutral-300"
>
  <div
    class="container flex-col md:flex justify-between align-middle gap-2 mx-auto max-w-3xl p-6 lg:px-0"
  >
    <span>
      This site is build using
      <a
        href="https://github.com/ccbikai/astro-aria"
        class="hover:text-black dark:hover:text-white"
      >
        Astro-Aria template
      </a>
    </span>
    <span>
      © {new Date().getFullYear()} Alejandro Asensio
    </span>
  </div>
</footer>
