<footer class="border-t border-t-surface1 pt-4">
  <p>
    This site is built using <a
      href="https://astro.build/"
      class="hover:text-mauve hover:transition hover:duration-300">Astro</a
    > and <a
      href="https://catppuccin.com/"
      class="hover:text-flamingo hover:transition hover:duration-300"
      >Catppuccin</a
    >.
  </p>
</footer>
