<footer>
  <p>
    This site is built with a minimalistic mindset using <a
      href="https://astro.build/"
      class="hover:text-mauve hover:transition hover:duration-300">Astro</a
    > and <a
      href="https://catppuccin.com/"
      class="hover:text-flamingo hover:transition hover:duration-300"
      >Catppuccin</a
    >.
  </p>
</footer>
