---
import Footer from '../components/footer.astro'
import Header from '../components/header.astro'
import SquareLines from '../components/square-lines.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="My personal website" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/aasensios.com/favicon.png" />
    <title>{title}</title>
    <Fragment set:html={import.meta.env.HEADER_INJECT} />
  </head>
  <body
    class="h-screen grid grid-rows-[auto_1fr_auto] antialiased bg-neutral-50 dark:bg-neutral-950"
  >
    <SquareLines />
    <Header />
    <slot />
    <Footer />
    <script src="../main.js"></script>
    <Fragment set:html={import.meta.env.FOOTER_INJECT} />
  </body>
</html>
