---
import Footer from '../components/footer.astro'
import Header from '../components/header.astro'
import SquareLines from '../components/square-lines.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="My personal website" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <title>{title}</title>

    <!-- Used to add dark mode right away, adding here prevents any flicker -->
    <script is:inline>
      if (typeof Storage !== 'undefined') {
        if (
          localStorage.getItem('dark_mode') &&
          localStorage.getItem('dark_mode') == 'true'
        ) {
          document.documentElement.classList.add('dark')
        }
      }
    </script>

    <style is:global>
      .prose img {
        border-radius: 20px;
      }

      #sun {
        transform: translate3d(0, 0px, 0);
      }

      #moon {
        transform: translate3d(0, 0px, 0);
      }

      #darkToggle:hover #sun {
        transform: translate3d(0, 10px, 0);
      }

      #darkToggle:hover #moon {
        transform: translate3d(0, 10px, 0);
      }

      html.dark #darkToggle:hover .horizon {
        border-color: #718096 !important;
      }

      .horizon .setting {
        animation: 1s ease 0s 1 setting;
      }

      .horizon .rising {
        animation: 1s ease 0s 1 rising;
      }

      @keyframes setting {
        0% {
          transform: translate3d(0, 10px, 0);
        }

        40% {
          transform: translate3d(0, -2px, 0);
        }

        to {
          transform: translate3d(0, 30px, 0);
        }
      }

      @keyframes rising {
        0% {
          opacity: 0;
          transform: translate3d(0, 30px, 0);
        }

        40% {
          opacity: 1;
          transform: translate3d(0, -2px, 0);
        }

        to {
          opacity: 1;
          transform: translate3d(0, 10, 0);
        }
      }
    </style>
    <Fragment set:html={import.meta.env.HEADER_INJECT} />
  </head>
  <body
    class="h-screen grid grid-rows-[auto_1fr_auto] antialiased bg-neutral-50 dark:bg-neutral-950"
  >
    <SquareLines />
    <Header />
    <slot />
    <Footer />
    <script src="../main.js"></script>
    <Fragment set:html={import.meta.env.FOOTER_INJECT} />
  </body>
</html>
